# Игнорируем виртуальное окружение
.venv/
venv/
env/

# Игнорируем файл с переменными окружения
.env

# Игнорируем файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Игнорируем системные файлы и IDE
.DS_Store
.idea/
.vscode/
